{% extends 'base.html' %}
{% block title %} POST DETAILS {% endblock %}

{% block content %} 

<h1>{{ post.title }}</h1>

<p>{{ post.content }}</p>

<blockquote>By {{ post.user.first_name }} {{ post.user.last_name }} </blockquote>

<p><b>Tags:</b>
{% for tag in post.tags %}
<span class='tags'><a href="/tags/{{ tag.id }}">{{ tag.name }}</a></span>
{% endfor %}
</p>

<form action="">
    <button formaction="/{{ post.user_id }}" formmethod="GET">Cancel</button>
    <button formaction="/posts/{{ post.id }}/edit" formmethod="GET">Edit</button>
    <button formaction="/posts/{{ post.id }}/delete" formmethod="POST">Delete</button>
</form>

{% endblock %}